* {
    font-family: fantasy;
}

body {
background-color:white;
position: relative;
min-width: 300px;

}

/* Main header color */
header {
  background-color: rgb(48, 47, 47);
  height: 4.7em;
  }
  
  /* Box with name */
  header h1 {
      width: 250px;
      top: 10px;
      position: relative;
      background-color: skyblue;
      justify-content: center;
      text-align: right;
      padding-right: 10px;
      height: 2em;
      font-size: 26px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

 
/* Navigation Bar - font on the upper right side of website. */

  header nav ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    min-width: 300px;
    color: skyblue;
    text-decoration: underline skyblue;
    text-underline-position: under;
    border-width: 0 0 1px;
    float: right;
    padding-right: 1%;
  }

  a:visited {
    text-decoration: none;
    color: skyblue
  }


/* Image above About Me */
 img {
    max-width: 100%;
    height: 100px;
    object-fit: cover;
    width: fit-content;
 }


/* About Me & Work CSS for Bold Text */

  section h1 {
  font-size: 56px;
  margin-left: 30px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -.09em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

  }

/* About Me paragraph text */
  #me {
    display: flex;
    justify-content: center;


  }

  


/* Examples of Work */


  div p:nth-of-type(1) {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 20% 20% 20%;
  }
/* 
  div p:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 20% 20% 20%;


}

  div p:nth-of-type(3) {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 20% 20% 20%;


}

  div p:nth-of-type(4) {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

  div p:nth-of-type(5) {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    margin-bottom: 100px;


} */

aside p {
display: flex;
flex-direction: column;

}

 
/* Contact me Text */
article ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
    text-decoration: none;
    flex-wrap: wrap;
    
}



/* Bar infront of Contact me */
article .vertical { 
    border-left: 2px solid black; 
    height: 30px; 
    position: absolute; 
    left: 17%; 
} 



/* Footer and bottom of page styling */
footer {
    background-color: rgb(48, 47, 47);
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    color: skyblue;
}

  article {
  font-size: 56px;
  margin-left: 30px;
  line-height: 1.1;
  font-weight: 600;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

article :visited {
  text-decoration: none;
  color: black;
}



@media screen and (max-width: 1300px) { 

  article .vertical { 
  border-left: none;
}

}

@media screen and (max-width: 1060px) {

  article li {
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 996px) {

    article li {
      display: flex;
      justify-content: space-evenly;
    }
    header, body {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
}}

@media screen and (max-width: 768px) {
  header, body {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  article li {
    width: 100%;
    text-align: center;
  }
}